<%= image_tag @user.profile_picture.url, size: '200' %>
<p><%= @user.firstname if @user.firstname %>
<%= @user.lastname if @user.lastname %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Role: <%= @user.role.capitalize if @user.role %></p>

  <footer>
    <nav>
      <% if current_user != @user %>
        <%= button_to('Give Reference', new_user_work_reference_path(@user), :class => 'btn btn-large btn-primary', method: :get) %>
      <% end %>
    </nav>

    <%= render 'workreferences' %>

  </footer>
